* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 18, 43);
  color: white;
}
.logo {
  font-size: 1.5rem;
  margin: 0.5 rem;
  color: white;
}
.nav-links ul {
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.nav-links li:hover {
  background-color: lightslategray;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 10px;
}

.container {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  width: 270px;
  height: 450px;
  margin: 20px;
}
.card-image {
  background-color: rgb(30, 69, 82);
  height: 150px;
  margin-bottom: 10px;
  border-radius: 15px 15px 0 0;
}
.card h2 {
  padding: 10px;
  font-size: 40px;
}

.card p {
  padding: 10px;
  font-size: 20px;
}

.img-1 {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/happy-smiley-face-balloons-against-colorful-cotton-royalty-free-image-1677446093.jpg");
  background-size: cover;
}

.img-2 {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/champagne-beach-espiritu-santo-island-vanuatu-royalty-free-image-1655672510.jpg?crop=1.00xw:0.755xh;0,0.173xh&resize=1200:*");
  background-size: cover;
}
.img-3 {
  background-image: url("https://www.univ-catholille.fr/sites/default/files/actus/stay-home-4981866_1920%20%281%29.jpg");
  background-size: cover;
}
.card:hover {
  background-color: lightslategray;
}

.header1 {
  margin: 15px;
  text-align: center;
}
.photo {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.imag {
  width: 30vh;
  background-size: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  text-align: center;
}

.caption {
  font-size: 14px;
  margin-top: 5px;
}
.about {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
}
.about h1 {
  text-align: center;
  font-size: 45px;
}
.about p {
  font-size: 20px;
}

.map {
  text-align: center;
  margin-bottom: 15px;
}
.map h1 {
  margin-bottom: 15px;
}
.map {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.map iframe {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parent {
  text-align: center;
}

.input {
  display: inline-block;
  margin-top: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

form {
  background-color: black#792323;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-weight: bold;
}

button[type="submit"] {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
  .about {
    width: 50vh;
    text-align: center;
    margin-top: 20px;
    border: hidden;
  }
  .map iframe {
    align-items: center;
    margin-left: 1vh;
    border: 2px solid green;
  }
  .map h1 {
    font-size: 30px;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }

  input[type="text"],
  textarea {
    font-size: 16px;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 20px;
    padding: 12px 24px;
  }
}

@media only screen and (max-width: 480px) {
  form {
    width: 100%;
    padding: 10px;
  }
  .about {
    border: hidden;
    width: 35vh;
    height: 30%;
  }
  .about h1 {
    padding: 10px;
    text-align: center;
    font-size: 25px;
  }
  .about p {
    font-size: 15px;
    text-align: center;
  }

  input[type="text"],
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    align-items: center;
    width: 100%;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }

  .burger {
    display: block;
    background-color: rgb(58, 119, 233);
  }
}
.nav-links.active {
  display: flex;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.card {
  position: relative;
}
